{{extend 'layout.html'}}
<div class="header_pagina">
  <h1 class="titulo_pagina">{{=titulo}}</h1>
  <h2 class="subtitulo_pagina">{{=subtitulo}}</h2>
  <div class="comandos_pagina_container">
  {{=html_comandos}}
  </div>
</div>
<hr>
{{if request.args(0)=='editar' or request.args(0)=='novo':}}


  {{=form.custom.begin}}
  <div class="row">  
    <div class="col-12">

      {{
        if request.args(0)=='editar' and request.args(1):
          =MODELS_PHANTERIMAGES_EXAMPLE.visualizarImagem(db.produtos[request.args(1)].id_imagem)
        else:
          =MODELS_PHANTERIMAGES_EXAMPLE
        pass
      }}
    </div>
  </div>
  <div style="display: none;">{{=form.custom.widget.id_imagem}}</div>
  <div class="row form-group">
    <div class="col-8">
      <label for="produtos_produto">{{=form.custom.label['produto']}}</label>
      {{=form.custom.widget.produto}}
      
    </div>
    <div class="col-4">
      <label for="produtos_cod_barra">{{=form.custom.label['cod_barra']}}</label>
      {{=form.custom.widget.cod_barra}}
      
    </div>
  </div>
   <div class="row form-group">
    <div class="col-12">
      <label for="produtos_descricao">{{=form.custom.label['descricao']}}</label>
      {{=form.custom.widget.descricao}}
    </div>  
  </div>

  <div class="botao_submit">
    {{=form.custom.submit}}
  </div>

  {{=form.custom.end}}
{{else:}}
  {{=html}}
{{pass}}
